@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sistema {
  color: #1c202b;
  background-color: white;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  max-width: 90%;
  width: 740px;
  padding: 40px;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 40px;
  overflow: hidden;
}
.sistema h3 {
  font-size: 25px;
}
.label-area,
.area-label {
  gap: 5px;
  display: flex;
  margin-bottom: 7px;
}
.alt {
  transform: translateY(10px);
}
.alt:hover {
  color: #d6d6dc;
  background-color: #1c202b;
}
.inputs {
  background-color: #d6d6dc;
  display: flex;
  gap: 5px;
  border-radius: 10px;
}
button {
  background-color: white;
  border: 1px solid #d6d6dc;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 500;
  color: #272c3a;
  margin-right: 5px;
}
button:hover {
  background-color: #1c202b;
  color: #d6d6dc;
}
form .step {
  opacity: 0;
  transform: translateX(70%);
  transition:
    opacity 0.3s,
    transform 0.3s;
  height: 0px;
  overflow: hidden;
}
form .step.on {
  opacity: 1;
  transform: translateX(0%);
  height: auto;
}
input {
  border: 1px solid #b6b7be;
  border-radius: 10px;
}
select {
  padding: 5px 7px;
  cursor: pointer;
  border: 1px solid #c9cace;
  border-radius: 0px;
  margin-top: 10px;
}
form .atributo {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}
form .disabled {
  opacity: 0.6;
  text-decoration: line-through;
}
form .atributo-view,
form .atributo-final {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #cacaca;
  color: #bb1234;
  text-align: center;
}
form .alt,
form .alt-final {
  color: #1c202b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #1c202b;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.atributos-referencia {
  width: 100%;
  background-color: #f9efdc;
  padding: 4px 10px;
  margin: 15px 0;
  display: block;
}
.pontos-area {
  margin-top: 15px;
}
.label-atributo {
  display: flex;
  align: center;
  justify-content: center;
  width: 60px;
  padding-top: 10px;
}
.label-select {
  transform: translateY(15px);
}
.select-title {
  font-weight: 600;
}
.first-title {
  margin-bottom: 15px;
  display: inline-block;
}
.parag {
  color: #363d4b;
  margin: 15px 0;
}
.sistema img {
  width: 100%;
}
tbody {
  position: relative;
}
.dinheiro-footer {
  z-index: -1;
  transform: translateX(-200px);
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: auto;
  height: 60px;
  right: 15px;
  border: 1px solid #1c202b;
  background-color: #f9efdc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  border-radius: 20px;
  transition: 0.5s all ease-out;
  opacity: 0;
}
.dinheiro-footer.active {
  z-index: 200;
  opacity: 1;
  transform: translateX(0);
}
.dinheiro-footer.no-money {
  border: 1px solid #d92a2a;
  background-color: #e198a1;
  color: #d92a2a;
}
form table {
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
  overflow-x: scroll;
  margin-top: 15px;
}
form .add-item {
  background-color: #363d4b;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  cursor: pointer;
  height: 20px;
  font-size: 17px;
  margin: 0 auto;
  transition: 0.4s all ease-in-out;
}
form .add-item:hover {
  transform: scale(112%);
}
form table tr:nth-child(even) {
  background-color: #d6d6dc;
}
form table tr:hover {
  background-color: #cecedf;
}
form table td {
  border: 1px solid #b6b7be;
  text-align: center;
  padding: 8px 3px;
}
form table th {
  padding-bottom: 10px;
}
form table td:nth-of-type(1) {
  width: 15px;
}
form textarea {
  width: 100%;
  border: none;
  height: 140px;
  background: #d6d6dc;
  padding: 15px;
}
form textarea:focus {
  outline: none;
}

/* responsive settings */
@media (max-width: 767px) {
  .dinheiro-footer {
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
  }
}
